html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: Helvetica Neue;
      }

header {
    background-color: orange;
    color:white;
    text-align:center;
    padding:2.5px;
    height: 10%;
}

footer {
    background-color: orange;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
table, th, td {
    font-size: 24px;
    text-align: center;
    max-height: 400px;
}

th {
    color: white;
    background-color: orange;
}

h3 {
    font-size: medium;
    font-family: Helvetica Neue;
}

p {
    font-size: small;
    font-family: Helvetica Neue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#click {

}

a:link, a:visited {
    display: block;
    width: 312px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: orange;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

input {
    text-align: center;
    top-padding: 1pt;
    bottom-padding: 1pt;
}

#logo-cell{
    height: 100%;
}

#image-cell {
    width: 150pt;
    height: 30pt;
    vertical-align: middle;
}

#badge-cell {
    width: 75pt;
    height: 75pt;
    vertical-align: middle;
}

#control {
        text-align: center;
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid orange;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
        position: absolute;
        left: 500px;
        top: 550px;
}

#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }

#login-panel {
        padding-top: 1px;
        padding-bottom: 1px;
        text-align: center;
        margin-left: auto;
        margin-right:auto;
        height: 7.5%;
}

#parent {
    overflow: scroll;
    float: right;
    width: 45%;
}

/*Car-panel*/
#car-panel {
    height: 100%;
    width: 100%;

}

#history-panel{
    text-align: center;
    float: left;
    width: 49%;
}

#savings-panel{
    text-align: center;
    float: right;
    width: 49%;
}

#custom-tweet-button {
    padding-top: 5px;
    vertical-align: middle;
    padding-left: 60px;
  }

#foot_table{
    vertical-align: middle;
}

#cright{
    vertical-align: middle;
}