<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link type='text/css' href='/static/css/basic.css' rel='stylesheet' media='screen' />
    <title>You'll trip, on Tripapotam.us</title>
    <script>
    var totalUserSavings = {{user.moneySaved}};
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'></script>
    <script src="{% static "js/JQuery.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>
    <script src="{% static "js/cars.js" %}"></script>
    <script src="{% static "js/quicksearch.js" %}"></script>
    <script src="{% static "js/amazon.js" %}"></script>

    <script src="{% static "js/jquery.simplemodal.js" %}"></script>
    <script src="{% static "js/basic.js" %}"></script>

    <script src="https://platform.twitter.com/widgets.js"></script>

    <script>
    //Could not move this to external .js file as jQuery .get(/test/,..) would not compile. Leaving in for now.
    function showCars() {
        clearTable();
        if (lat > 48.020146 || lat < 47.290213 || long > -121.985303 || long < -122.436279) {
            alert('The starting location is outside of the Uber Seattle Service area')
        }
        else if (endLat > 48.020146 || endLat < 47.290213 || endLong > -121.985303 || endLong < -122.436279) {
            alert('The Ending location is outside of the Uber Seattle Service area')
        }
        else {
            $('#car-table').innerHTML = " ";
            var obj = {"lat": lat, "long": long, "distance": distance, "time": time};
            $.get(/getVehicleOptions/,
                    obj,
                    function (status) {
                        jsonObject = JSON.parse(status);
                        var th;
                        th = $('<tr/>');
                        th.append("<th>" + "Vehicle" + "</th>");
                        th.append("<th>" + "Price" + "</th>");
                        th.append("<th>" + "Savings" + "</th>");
                        th.append("<th>" + "E.T.A." + "</th>");
                        th.append("<th>" + "Confirm" + "</th>");
                        $('#car-table').append(th);
                        var tr;
                        for (var i = 0; i < jsonObject.length; i++) {
                                if (jsonObject[i].vehicle.name == "Taxi") {
                                    taxiPrice = Math.round(jsonObject[i].price * 100) / 100
                                }
                                tr = $('<tr/>');
                                // Insert images
                                if (jsonObject[i].vehicle.name == "UberSUV") {
                                    tr.append("<td>" + "<img src = '{% static "images/SUV.png" %}' id='image-cell' 'alt='UberSUV'></img>" + "</td>");
                                }
                                else if (jsonObject[i].vehicle.name == "UberBLACK") {
                                    tr.append("<td>" + "<img src = '{% static "images/uberBlack.png" %}' id='image-cell' 'alt='UberBLACK'></img>" + "</td>");
                                }
                                else if (jsonObject[i].vehicle.name == "PEDAL") {
                                    tr.append("<td>" + "<img src = '{% static "images/pedal.png" %}' id='image-cell' 'alt='PEDAL' height=></img>" + "</td>");
                                }
                                else if (jsonObject[i].vehicle.name == "uberXL") {
                                    tr.append("<td>" + "<img src = '{% static "images/XL.png" %}' id='image-cell' 'alt='uberXL'></img>" + "</td>");
                                }
                                else if (jsonObject[i].vehicle.name == "For Hire") {
                                    tr.append("<td>" + "<img src = '{% static "images/ForHire.png" %}' id='image-cell' 'alt='For Hire'></img>" + "</td>");
                                }
                                else if (jsonObject[i].vehicle.name == "Taxi") {
                                    tr.append("<td>" + "<img src = '{% static "images/taxi.png" %}' id='image-cell' 'alt='Taxi'></img>" + "</td>");
                                }
                                else if (jsonObject[i].vehicle.name == "UberPlus") {
                                    tr.append("<td>" + "<img src = '{% static "images/Plus.png" %}' id='image-cell' 'alt='UberPlus'></img>" + "</td>");
                                }
                                else if (jsonObject[i].vehicle.name == "uberX") {
                                    tr.append("<td>" + "<img src = '{% static "images/X.png" %}' id='image-cell' alt='uberX'></img>" + "</td>");
                                }
                                else {
                                    tr.append("<td>" + jsonObject[i].vehicle.name + "</td>");
                                }
                                tr.append("<td>" + "$" + (jsonObject[i].price).toFixed(2) + "</td>");
                                if (isNaN(jsonObject[i].price)) {
                                    tr.append("<td>" + "$0.00" + "</td>");
                                } else {
                                    tr.append("<td>" + "$" + (taxiPrice - jsonObject[i].price).toFixed(2) + "</td>");
                                }
                                if (isNaN(jsonObject[i].vehicle.eta)) {
                                    tr.append("<td>" + "0:00" + "</td>");
                                } else {
                                    tr.append("<td>" + "<center>" + Math.floor(jsonObject[i].vehicle.eta / 60) + ":" + parseInt(jsonObject[i].vehicle.eta % 60, 10) + "</td>");
                                }
                                tr.append("<td>" + "<button  style='width:100%' class='basic-7' onclick='confirmTrip(" + (Math.round(jsonObject[i].price * 100) / 100) + ")'; id='" + i + "'>" + "Take this " + "</button>" + "</td>");
                                $('#car-table').append(tr);
                            }
                        });
            }
        }
    </script>
</head>
<body>
<header>
    <img src='{% static "images/triplogo.jpg" %}' id="logo-cell">
</header>
<div id="login-panel">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {% if user.is_authenticated %}
        <h3>Hello {{ user.user }}!</h3>
        <form action='logout'>
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <form method="POST" action=".">
            {% csrf_token %}
            <input type="text" name="username" value="username"/>
            <input type="password" name="password" value="password"/>
            <input type=submit name="login_box">
        </form>
        <form action="/create_user/">
            <input type="submit" value="New Account">
        </form>
    {% endif %}
</div>

{% if user.is_authenticated %}
    <nav>
        <div id="basic-modal">
            <ul>
                <li><a href="#" class="basic-1">Stats</a></li>
                <li><a href="#" class="basic-2">Leaderboard</a></li>
                <li><a href="#" class="basic-3">Bookmarks</a></li>
                <li><a href="#" class="basic-4">History</a></li>
            </ul>
        </div>
    </nav>
{%  endif %}

<div id="control">
    <form>
        <input type="text" id="curr" placeholder="Start">
        <br>
        <input type="text" id="dest" placeholder="End">
        <br>
        <div id="basic-modal">
            <ul>
        <li><a href="#" id="click" class="basic-5" onclick="onClick()" value="Calculate Route">Go!</a></li>
                </ul>
        </div>
    </form>
</div>

<div id="map-canvas">
</div>

<div id="basic-modal-content1" class="hide">
    <div id="stats-panel">
        <div id="savings-panel">
            <h3>Money Saved</h3>
            <p>${{ user.moneySaved|floatformat }}</p>
            {% if user.is_authenticated %}

            <a href="https://twitter.com/share" class="twitter-share-button"  data-url="http://goo.gl/sxgch5" data-text="I've saved ${{ user.moneySaved }} with #tripapotamus"  data-count="none" data-dnt="true" data-size="Large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            {% endif %}
        </div>
        <div id="history-panel">
            <h3>Distance Travelled</h3>
            <p>{{ user.distanceTravelled|floatformat }} miles</p>

            {% if user.is_authenticated %}

            <a href="https://twitter.com/share" class="twitter-share-button"  data-url="http://goo.gl/sxgch5" data-text="I've Traveled {{ user.distanceTravelled }} Km's with #tripapotamus"  data-count="none" data-dnt="true" data-size="Large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            {% endif %}

        </div>
    </div>
</div>

<div id="basic-modal-content2" class="hide">
    <div id="scoreboard">
    <table>
        <tr>
            <th>User</th>
            <th>Distance Travelled</th>
            <th>Money Saved</th>
            <th>Badges</th>
        </tr>
        {% for member in score_board_top_five %}
            <tr>
                <td>{{member.user}}</td>
                <td>{{member.distanceTravelled|floatformat}} miles</td>
                <td>${{member.moneySaved|floatformat}}</td>
                {% if member.money_1 %}
                    <td><img src = '{% static "images/1.png" %}' id='badge-cell' alt='money_1'></td>
                {% endif %}
                {% if member.money_10 %}
                    <td><img src = '{% static "images/10.png" %}' id='badge-cell' alt='money_10'></td>
                {% endif %}
                {% if member.money_25 %}
                    <td><img src = '{% static "images/25.png" %}' id='badge-cell' alt='money_25'></td>
                {% endif %}
                {% if member.money_50 %}
                    <td><img src = '{% static "images/50.png" %}' id='badge-cell' alt='money_50'></td>
                {% endif %}
                {% if member.money_100 %}
                    <td><img src = '{% static "images/100.png" %}' id='badge-cell' alt='money_100'></td>
                {% endif %}
                {% if member.distance_street %}
                    <td><img src = '{% static "images/street.png" %}' id='badge-cell' alt='distance_street'></td>
                {% endif %}
                {% if member.distance_ocean %}
                    <td><img src = '{% static "images/ocean.png" %}' id='badge-cell' alt='distance_ocean'></td>
                {% endif %}
                {% if member.distance_denmark %}
                    <td><img src = '{% static "images/denmark.png" %}' id='badge-cell' alt='distance_denmark'></td>
                {% endif %}
                {% if member.distance_texas %}
                    <td><img src = '{% static "images/texas.png" %}' id='badge-cell' alt='distance_texas'></td>
                {% endif %}
                {% if member.distance_sahara %}
                    <td><img src = '{% static "images/ocean.sahara" %}' id='badge-cell' alt='distance_sahara'></td>
                {% endif %}
                {% if member.distance_tourdefrance %}
                    <td><img src = '{% static "images/tourdefrance.png" %}' id='badge-cell' alt='distance_tourdefrance'></td>
                {% endif %}
                {% if member.distance_moon %}
                    <td><img src = '{% static "images/moon.png" %}' id='badge-cell' alt='distance_moon'></td>
                {% endif %}
                {% if member.distance_world %}
                    <td><img> src = '{% static "images/world.png" %}' id='badge-cell' alt='distance_world'></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
</div>
<div id="basic-modal-content3" class="hide">
    <div id="bookmarks-panel">
    <table>
        <tr>
            <th>Start</th>
            <th>End</th>
        </tr>
        {% if user.bookmark1_id %}
            <tr>
                <td><a onclick="fillFormBookmark1()" id="b1startFill">{{ user.bookmark1_id.startPoint }}</a></td>
                <td ><a onclick="fillFormBookmark1()" id="b1endFill">{{ user.bookmark1_id.endPoint }}</a></td>
                <td>
                    <form method = 'POST' action ='/deleteBookmark/bookmark1_id/'>
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endif %}
        {% if user.bookmark2_id %}
            <tr>
                <td><a onclick="fillFormBookmark2()" id="b2startFill">{{ user.bookmark2_id.startPoint }}</a></td>
                <td ><a onclick="fillFormBookmark2()" id="b2endFill">{{ user.bookmark2_id.endPoint }}</a></td>
                <td>
                    <form method = 'POST' action ='/deleteBookmark/bookmark2_id/'>
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endif %}
        {% if user.bookmark3_id %}
            <tr>
                <td><a onclick="fillFormBookmark3()" id="b3startFill">{{ user.bookmark3_id.startPoint }}</a></td>
                <td ><a onclick="fillFormBookmark3()" id="b3endFill">{{ user.bookmark3_id.endPoint }}</a></td>
                <td>
                    <form method = 'POST' action ='/deleteBookmark/bookmark3_id/'>
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endif %}
        {% if user.bookmark4_id %}
            <tr>
                <td><a onclick="fillFormBookmark4()" id="b4startFill">{{ user.bookmark4_id.startPoint }}</a></td>
                <td ><a onclick="fillFormBookmark4()" id="b4endFill">{{ user.bookmark4_id.endPoint }}</a></td>
                <td>
                    <form method = 'POST' action ='/deleteBookmark/bookmark4_id/'>
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endif %}
        {% if user.bookmark5_id %}
            <tr>
                <td><a onclick="fillFormBookmark5()" id="b5startFill">{{ user.bookmark5_id.startPoint }}</a></td>
                <td><a onclick="fillFormBookmark5()" id="b5endFill">{{ user.bookmark5_id.endPoint }}</a></td>
                <td>
                    <form method = 'POST' action ='/deleteBookmark/bookmark5_id/'>
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endif %}
    </table>
</div>
</div>

<div id="basic-modal-content4" class="hide">
    <div id="history">
    <table>
        <tr>
            <th>Time</th>
            <th>Start</th>
            <th>End</th>
            <th>Distance</th>
            <th>Saved</th>
        </tr>
        {% for trip in history_trips %}
            <tr>
                <td>{{trip.time}}</td>
                <td>{{trip.startPoint}}</td>
                <td>{{trip.endPoint}}</td>
                <td>{{trip.distanceTravelled|floatformat}} miles</td>
                <td>${{trip.moneySaved|floatformat}}</td>
                <td>
                    <form method = 'POST' action ='/addBookmark/{{trip.id}}/'>
                        {% csrf_token %}
                        <input type="submit" value="Bookmark">
                    </form>
                </td>
                <td>
                    <form method = 'POST' action ='/deleteHistoryTrip/{{trip.id}}/'>
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>

<div id="basic-modal-content5" class="hide">
    <div id="cars-panel">
        <table align="center" id = "car-table"></table>
    </div>
</div>

<div id="basic-modal-content6" class="hide">
    <div>
        <h3>About Us</h3>
        <p>
            Tripopotamus was created by a group of four UBC students <br>
            called Dirty Mike and the Boyz<br>
                <br>
            This is the story all about how<br>
            Dirty Mike's life got flipped - turned upside down<br>
            And I'd like to take a minute<br>
            just sit right there and don't tattle <br>
            I'll tell you how Dirty Mike became the Uber prince of Seattle<br>
                <br>
            In West Philadelphia born and raised<br>
            Using mustard and playing with poodles I spent most of my days<br>
            Chillin' out, maxin', relaxin' all cool<br>
            And all shootin some b-ball outside of the school<br>
            When a couple of guys who were up to no good<br>
            Started making trouble in my neighborhood<br>
            I got in one little fight and my mom got rattled<br>
            She said 'You're movin' with your auntie and uncle in Seattle'<br>
        </p>
    </div>
</div>
<footer>
    <table id = "foot_table">
  <tr>
    <td>
        <a id="custom-tweet-button" href="https://twitter.com/intent/follow?screen_name=@DirtyMikeCS310"><img src="{% static "images/twitter.png" %}" /></a>
    </td>
    <td>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QQ3XZW9XR6VCJ">
        <input id="custom-tweet-button" type="image" src="{% static "images/paypal.png" %}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </td>
    <td>
        <a id="custom-tweet-button" href="javascript:void( window.open('http://form.jotform.us/form/51973170924156', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))"><img src="{% static "images/email.png" %}" /></a>
    </td>
    <td>
        <div id="basic-modal">
            <ul>
                <li><a href="#" class="basic-6" ><img src="{% static "images/about.png" %}" /></a></li>
            </ul>
        </div>
    </td>

  </tr>
    </table>

    <p id="cright">Copyright © 2015 Tripapotamus</p>
</footer>
</body>
</html>